.wrapper {
  background: red;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
  text-align: right;
}
.panel {
  flex-grow: 1;
}