.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.content {
  width: 100vw;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
