.wrapper {
  border-radius: var(--border-radius);;
  border: #f5c6cb 1px solid;
  background: #f8d7da;
  color: #721c24;
  padding: 12px 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: .8rem;
}